@model ScrumApplication.Models.ScrumViewModels.BoardViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="scrum-content">
    <section>
        <a asp-controller="Task" asp-action="AddTask" asp-route-id="@Model.StoryId" class="btn btn-info btn-sm">
            <i class="fas fa-plus"></i> Thêm công việc
        </a>
        <a asp-controller="Story" asp-action="Index" class="btn btn-info btn-sm">
            <i class="fas fa-arrow-left"></i> Quay lại danh sách Story 
        </a>
        <hr />
        <div class="card-group ">
            <div class="card bg-default">
                <div class="card-header text-center">
                    <strong>To Do</strong>
                </div>
                <div class="card-body">
                    @foreach (var task in Model.BacklogTasks)
                    {
                        <div class="card mb-2 text-white bg-dark">
                            <div class="card-header">
                                <img src="@task.ApplicationUser?.ImageUrl" alt="User Image" class="img-circle user-image" />
                                <strong>
                                    @task.ApplicationUser?.FirstName @task.ApplicationUser?.LastName
                                </strong>
                            </div>
                            <div class="card-body  ">
                                <p class="card-text">
                                    @task.Name
                                </p>
                                <p class="card-text">
                                    @task.Description
                                </p>
                                <p class="card-text">
                                    Ước lượng số ngày: @task.Day
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <a asp-action="StartTask" asp-route-id="@task.Id" class="btn btn-sm btn-light">
                                    <i class="fas fa-play"></i>Bắt đầu
                                </a>
                                <a asp-action="RemoveTask" asp-route-id="@task.Id" class="btn btn-sm btn-light" onclick = "return confirm('Bạn có muốn xóa công việc này không?');">
                                    <i class="fas fa-trash"></i>Xóa công việc
                                </a>
                            </div>
                        </div>
                        <hr size="1">
                    }
                </div>
            </div>
            <div class="card ">
                <div class="card-header text-center">
                    <strong>In Progress</strong>
                </div>
                <div class="card-body">
                    @foreach (var task in Model.InProgressTasks)
                    {
                        <div class="card mb-2 text-white bg-danger">
                            <div class="card-header">
                                <img src="@task.ApplicationUser?.ImageUrl" alt="User Image" class="img-circle user-image" />
                                <strong>
                                    @task.ApplicationUser?.FirstName @task.ApplicationUser?.LastName
                                </strong>
                            </div>
                            <div class="card-body  ">
                                <p class="card-text">
                                    @task.Name
                                </p>
                                <p class="card-text">
                                    @task.Description
                                </p>
                                <p class="card-text">
                                    Ước lượng số ngày: @task.Day
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <a asp-action="GetTask" asp-route-id="@task.Id" class="btn btn-sm btn-light" onclick = "return confirm('Bạn có muốn nhận việc này từ người khác không?');">
                                    <i class="fas fa-undo-alt"></i>Nhận việc
                                </a>
                                <a asp-action="VerifyTask" asp-route-id="@task.Id" class="btn btn-sm btn-light" onclick = "return confirm('Bạn có chắc mình đã làm xong công việc này?');">
                                    <i class="fas fa-vial"></i>Xác nhận
                                </a>
                                <hr size="1">
                                <a asp-action="RemoveTask" asp-route-id="@task.Id" class="btn btn-sm btn-light" onclick = "return confirm('Bạn có muốn xóa công việc này không?');">
                                    <i class="fas fa-trash"></i>Xóa công việc
                                </a>
                            </div>
                        </div>
                        <hr size="1">
                    }
                </div>
            </div>
            <div class="card">
                <div class="card-header text-center">
                    <strong>Test</strong>
                </div>
                <div class="card-body">
                    @foreach (var task in Model.TestTasks)
                    {
                        <div class="card mb-2 text-white bg-warning">
                            <div class="card-header">
                                <img src="@task.ApplicationUser?.ImageUrl" alt="User Image" class="img-circle user-image" />
                                <strong>
                                    @task.ApplicationUser?.FirstName @task.ApplicationUser?.LastName
                                </strong>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    @task.Name
                                </p>
                                <p class="card-text">
                                    @task.Description
                                </p>
                                <p class="card-text">
                                    Ước lượng số ngày: @task.Day
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <a asp-action="GetTask" asp-route-id="@task.Id" class="btn btn-sm btn-light" onclick = "return confirm('Bạn có muốn nhận việc này từ người khác không?');">
                                    <i class="fas fa-undo-alt"></i>Nhận việc
                                </a>
                                <a asp-action="CompleteTask" asp-route-id="@task.Id" class="btn btn-sm btn-light" onclick = "return confirm('Bạn có chắc đã hoàn thành công việc?');">
                                    <i class="fas fa-check"></i>Hoàn thành
                                </a>
                                <hr size="1">
                                <a asp-action="RemoveTask" asp-route-id="@task.Id" class="btn btn-sm btn-light" onclick = "return confirm('Bạn có muốn xóa công việc này không?');">
                                    <i class="fas fa-trash"></i>Xóa công việc
                                </a>
                            </div>
                        </div>
                        <hr size="1">
                    }
                </div>
            </div>
            <div class="card ">
                <div class="card-header text-center">
                    <strong>Done</strong>
                </div>
                <div class="card-body">
                    @foreach (var task in Model.CompletedTasks)
                    {
                        <div class="p-3 mb-2 bg-primary text-white">
                            <div class="card-header">
                                <img src="@task.ApplicationUser?.ImageUrl" alt="User Image" class="img-circle user-image" />
                                <strong>
                                    @task.ApplicationUser?.FirstName @task.ApplicationUser?.LastName
                                </strong>
                            </div>
                            <div class="card-body  ">
                                <p class="card-text">
                                    @task.Name
                                </p>
                                <p class="card-text">
                                    @task.Description
                                </p>
                                <p class="card-text">
                                    Ước lượng số ngày: @task.Day
                                </p>
                            </div>
                        </div>
                        <hr size="1">
                    }
                </div>
            </div>
        </div>
    </section>

</div>



